.App-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "head head"
    "nav content"
    "footer footer";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}

body{
  background-image: url('img/bacground.jpg');
  scroll-behavior: auto;
}